@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  background-color: $green;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .wrapper {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    @include mainLayout;

    @include breakpoint("xl") {
      padding: 0 50px;
    }
  }
}

.button {
  border: 0;
  svg {
    stroke: white;
  }

  @include breakpoint("xl") {
    display: none;
  }
}

.hamburger {
  justify-self: start;
}

.cart {
  margin-right: 20px;
  justify-self: flex-end;
}

.logo {
  height: 40px;

  img {
    height: 100%;
  }
}

.nav {
  display: none;

  &_item {
    padding: 10px;
  }

  @include breakpoint("xl") {
    display: flex;
  }
}

.setting {
  display: none !important;
  justify-content: end !important;

  button {
    padding: 10px;
  }

  @include breakpoint("xl") {
    display: flex !important;
  }
}
