@use "@styles/variables" as *;
@use "@styles/mixin" as *;

.root {
  background-color: $green;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.button {
  border: 0;
  svg {
    stroke: white;
  }
}

.hamburger {
  justify-self: start;
}

.cart {
  margin-right: 20px;
  justify-self: flex-end;
}

.logo {
  height: 40px;

  img {
    height: 100%;
  }
}
