$breakpoints: (
  "xm": 360px,
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "2xl": 1440px,
  "3xl": 1920px,
);

@mixin breakpoint($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin light {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

@mixin h5 {
  font-size: 14px;
}

@mixin normalAnim {
  transition: all ease-in-out 0.3s;
}

@mixin mainLayout {
  max-width: 1920px;
  margin: auto;
}
