* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

body {
  position: relative;
}

*::-webkit-scrollbar {
  background-color: #ddd;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  padding-left: 5px;
  // display: none;
}

// *:hover::-webkit-scrollbar {
//   display: block;
// }

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #20766e;
}
