@use "@styles/mixin" as *;
@use "@styles/variables" as *;

.root {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: 0.015em;
  color: $green;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &_item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      cursor: pointer;
      @include normalAnim;

      &:hover {
        color: $red;
      }
    }

    &:last-child {
      .tag {
        display: none;
      }
    }

    .tag {
      padding: 0 4px;
      stroke: $red;
    }
  }
}
